body {
  margin: 0;
  font-family:'Courier New', Courier, monospace
}

nav {
  background-color: #2a9df4;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  color: white;
  font-weight: bold;
}

.navStyle {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
}

nav > a {
  text-align: center;
  margin: 5px;
  text-decoration: none;
  padding: 3px;
}

nav > a:hover {
  text-align: center;
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-bottom: solid white 1px;
}

.portfolioSection {
  color: black;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.projectSection {
  color: black;
  box-shadow: 5px 5px 5px 5px lightgrey;
  border: 1px solid black;
  border-radius: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.portfolioLink {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
}

.portfolioLink:hover {
  text-decoration: underline;
  color: black;
}

.portfolioImage {
  width: 200px;
  height: 100px;
  margin: 5px;
  border-radius: 10px;
}

.about {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.about > h5 {
  color: black;
  box-shadow: 5px 5px 5px 5px lightgrey;
  border: 1px solid black;
  border-radius: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.homePage {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.homePageContainer {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  box-shadow: 5px 5px 5px 5px lightgrey;
  border-radius: 10px;
  margin: 25px;
  padding: 25px;
}

.profPic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 15px;
}

.resumePic {
  border: 1px solid black;
  margin: 5px;
}

.resumeButton {
  margin: 5px;
  border: 2px solid #2a9df4;
  border-radius: 20px;
  background-color: #2a9df4;
  color: white;
}

.resumeButton:hover {
  margin: 5px;
  border: 2px solid #2a9df4;
  border-radius: 20px;
  background-color: white;
  color: #2a9df4;
}

.contactInfo {
  margin: 5px;
  color: black;
}